

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


  
  .footer-sign{
    font-family: 'Spartan', sans-serif;
  font-size: 1cm ;
  color: rgb(170, 134, 79);
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  margin-top: 3cm;
  margin-left:1cm ;
  } 
  .footer{
    color: rgb(170, 134, 79);
  font-family: 'Spartan', sans-serif;
  margin-left: 1cm;
  margin-top: 1cm;
  
  }

 