.top {
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
  text-align: justify;
  font-family: 'Spartan', sans-serif;
  font-weight: black;
  
  
  }
  .top1 {
  
    order:1;
    width: 250px;
    height: 250px;
  }

  
  .top2 {
  
    order:2;
    width: 250px;
    height: 250px;
  }
  
  
  .top3 {
  
    order:3;
    width: 250px;
    height: 250px;

  }
  .top4 {
  
    order:4;
    width: 250px;
    height: 250px;
  }

  .gallery{
    font-family: 'Spartan', sans-serif;
  font-size: 1cm ;
  color: rgb(170, 134, 79);
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  margin-top: 2cm;
  margin-left:1cm ;
  }
  